mixin teamBlock(className, team, isFinals, seedNum)
	.slot(class=className)
		if (!isFinals)
			span= team ? `${seedNum} - ${team.Nickname}` : `-`
		else
			if(team)
				img(src=`https://cdn.nba.net/assets/logos/teams/secondary/web/${team.Abbreviation}.svg`)
			else 
				span= '-'
	
mixin box(series, teams, roundNum, conf, mobile)
	- var lowSeedId = series.topRow.teamId;
	- var highSeedId = series.bottomRow.teamId;
	- var low = teams[lowSeedId];
	- var high = teams[highSeedId];
	div(class='box ' + roundNum)
		- const isFinals = series.confName === 'NBA Finals';
		+teamBlock('top', low, isFinals, series.topRow.seedNum)
		+teamBlock('bottom', high, isFinals, series.bottomRow.seedNum)
		if (low || high)
			- var href = 'https://nba.com/playoffs/' +  (selectedSeason + 1) + '/' + series.seriesKey;
			a.deets(href=href target='_blank') Details
		.summary
			=series.isScheduleAvailable ? series.summaryStatusText : `-`
		if (series.isGameLive)
			.live-now Live now

html
	head
		title= title
		link(rel='stylesheet' href='/assets/styles.css')
	body
		center
			h1= title
			label Season:&nbsp;
				select(id='season')
					each opt in seasons
						option(value=opt.val selected=opt.selected) #{opt.text}
					

		.clearfix.desktop
			each conf in confs
				each round, roundNum in bracket
					div(class='col ' + conf.toLowerCase() + ' ' + roundNum)
						each series, index in round
							if (series.confName === conf)
								+box(series, teams, roundNum, index)

		.mobile
			each round, roundNum in bracket
				h3= roundNum === 'finals' ? 'Finals!!!' : 'Round ' + roundNum.charAt(0).toUpperCase() + roundNum.substr(1)
				each series, index in round
					+box(series, teams, roundNum, conf, true)

		.footer
			a.upcoming(href='https://stats.nba.com/schedule/' target="_blank") View Upcoming Games
			.last-updated 
				| Updated #{lastUpdated.prettyString} &nbsp;
				if (isLatestSeason)
					a.refresh(href='/?hardRefresh=1') Refresh
		
		script.
			const season = document.getElementById('season');

			season.onchange = () => {
				window.location = `/?season=${season.options[season.selectedIndex].value}`;
			};
