mixin box(series, teams, roundNum, conf, mobile)
	- var lowSeedId = series.topRow.teamId;
	- var highSeedId = series.bottomRow.teamId;
	- var low = teams[lowSeedId];
	- var high = teams[highSeedId];
	div(class='box ' + roundNum)
		if (series.confName === 'NBA Finals')
			.header Finals!!!
		.slot.top= low ? `${series.topRow.seedNum} - ${low.Nickname}` : `-`
		.slot.bottom= high ? `${series.bottomRow.seedNum} - ${high.Nickname}` : `-`
		.summary
			=series.isScheduleAvailable ? series.summaryStatusText : `-`
		if (series.isGameLive)
			.live-now Live now

html
	head
		title= title
		link(rel='stylesheet' href='/assets/styles.css')
	body
		center
			h1 2017-18 NBA Playoffs Bracket
		.clearfix.desktop
			each conf in confs
				each round, roundNum in bracket
					div(class='col ' + conf.toLowerCase() + ' ' + roundNum)
						each series in round
							if (series.confName === conf)
								+box(series, teams, roundNum)

		.mobile
			each round, roundNum in bracket
				h3= roundNum === 'finals' ? 'Finals!!!' : 'Round ' + roundNum.charAt(0).toUpperCase() + roundNum.substr(1)
				each series in round
					+box(series, teams, roundNum, conf, true)

		.footer
			a.upcoming(href='https://stats.nba.com/schedule/' target="_blank") View Upcoming Games
			.last-updated Last Updated: #{lastUpdated.prettyString}
			div(style="display:none")= lastUpdated.date